product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="review">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tb1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" />
                            <xs:element name="price" />
                            <xs:element name="calories" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
